						<div class="appFooter">
							<div class="col">
								<input type="text" id="newTask" placeholder="Type here..">
							</div>
							<div class="col">
								<div id="newTaskBtn">
									<i class="fa fa-fw fa-plus"></i>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</body>
</html>